// Variables
// --------------------------

$la-sass-asset-helper: false !default;

$la-font-path: if($la-sass-asset-helper, "../fonts/", "../dist/fonts/") !default;
$la-font-name: "line-awesome" !default;

$la-font-size-base:   14px !default;
$la-line-height-base: 1 !default;
$la-css-prefix:       fa !default;
$la-version:          "1.1" !default;
$la-border-color:     #eee !default;
$la-inverse:          #fff !default;
$la-li-width:         (30em / 14) !default;

$la-var-500px: "\f100";
$la-var-adjust: "\f101";
$la-var-adn: "\f102";
$la-var-align-center: "\f103";
$la-var-align-justify: "\f104";
$la-var-align-left: "\f105";
$la-var-align-right: "\f106";
$la-var-amazon: "\f107";
$la-var-ambulance: "\f108";
$la-var-anchor: "\f109";
$la-var-android: "\f10a";
$la-var-angellist: "\f10b";
$la-var-angle-double-down: "\f10c";
$la-var-angle-double-left: "\f10d";
$la-var-angle-double-right: "\f10e";
$la-var-angle-double-up: "\f10f";
$la-var-angle-down: "\f110";
$la-var-angle-left: "\f111";
$la-var-angle-right: "\f112";
$la-var-angle-up: "\f113";
$la-var-apple: "\f114";
$la-var-archive: "\f115";
$la-var-area-chart: "\f116";
$la-var-arrow-circle-down: "\f117";
$la-var-arrow-circle-left: "\f118";
$la-var-arrow-circle-o-down: "\f119";
$la-var-arrow-circle-o-left: "\f11a";
$la-var-arrow-circle-o-right: "\f11b";
$la-var-arrow-circle-o-up: "\f11c";
$la-var-arrow-circle-right: "\f11d";
$la-var-arrow-circle-up: "\f11e";
$la-var-arrow-down: "\f11f";
$la-var-arrow-left: "\f120";
$la-var-arrow-right: "\f121";
$la-var-arrow-up: "\f122";
$la-var-arrows: "\f123";
$la-var-arrows-alt: "\f124";
$la-var-arrows-h: "\f125";
$la-var-arrows-v: "\f126";
$la-var-asterisk: "\f127";
$la-var-at: "\f128";
$la-var-automobile: "\f129";
$la-var-backward: "\f12a";
$la-var-balance-scale: "\f12b";
$la-var-ban: "\f12c";
$la-var-bank: "\f12d";
$la-var-bar-chart: "\f12e";
$la-var-bar-chart-o: "\f12f";
$la-var-barcode: "\f130";
$la-var-bars: "\f131";
$la-var-battery-0: "\f132";
$la-var-battery-1: "\f133";
$la-var-battery-2: "\f134";
$la-var-battery-3: "\f135";
$la-var-battery-4: "\f136";
$la-var-battery-empty: "\f137";
$la-var-battery-full: "\f138";
$la-var-battery-half: "\f139";
$la-var-battery-quarter: "\f13a";
$la-var-battery-three-quarters: "\f13b";
$la-var-bed: "\f13c";
$la-var-beer: "\f13d";
$la-var-behance: "\f13e";
$la-var-behance-square: "\f13f";
$la-var-bell: "\f140";
$la-var-bell-o: "\f141";
$la-var-bell-slash: "\f142";
$la-var-bell-slash-o: "\f143";
$la-var-bicycle: "\f144";
$la-var-binoculars: "\f145";
$la-var-birthday-cake: "\f146";
$la-var-bitbucket: "\f147";
$la-var-bitbucket-square: "\f148";
$la-var-bitcoin: "\f149";
$la-var-black-tie: "\f14a";
$la-var-bold: "\f14b";
$la-var-bolt: "\f14c";
$la-var-bomb: "\f14d";
$la-var-book: "\f14e";
$la-var-bookmark: "\f14f";
$la-var-bookmark-o: "\f150";
$la-var-briefcase: "\f151";
$la-var-btc: "\f152";
$la-var-bug: "\f153";
$la-var-building: "\f154";
$la-var-building-o: "\f155";
$la-var-bullhorn: "\f156";
$la-var-bullseye: "\f157";
$la-var-bus: "\f158";
$la-var-buysellads: "\f159";
$la-var-cab: "\f15a";
$la-var-calculator: "\f15b";
$la-var-calendar: "\f15c";
$la-var-calendar-check-o: "\f15d";
$la-var-calendar-minus-o: "\f15e";
$la-var-calendar-o: "\f15f";
$la-var-calendar-plus-o: "\f160";
$la-var-calendar-times-o: "\f161";
$la-var-camera: "\f162";
$la-var-camera-retro: "\f163";
$la-var-car: "\f164";
$la-var-caret-down: "\f165";
$la-var-caret-left: "\f166";
$la-var-caret-right: "\f167";
$la-var-caret-square-o-down: "\f168"; $la-var-toggle-down: "\f168";
$la-var-caret-square-o-left: "\f169"; $la-var-toggle-left: "\f169";
$la-var-caret-square-o-right: "\f16a"; $la-var-toggle-right: "\f16a";
$la-var-caret-square-o-up: "\f16b"; $la-var-toggle-up: "\f16b";
$la-var-caret-up: "\f16c";
$la-var-cart-arrow-down: "\f16d";
$la-var-cart-plus: "\f16e";
$la-var-cc: "\f16f";
$la-var-cc-amex: "\f170";
$la-var-cc-diners-club: "\f171";
$la-var-cc-discover: "\f172";
$la-var-cc-jcb: "\f173";
$la-var-cc-mastercard: "\f174";
$la-var-cc-paypal: "\f175";
$la-var-cc-stripe: "\f176";
$la-var-cc-visa: "\f177";
$la-var-certificate: "\f178";
$la-var-chain: "\f179";
$la-var-chain-broken: "\f17a";
$la-var-check: "\f17b";
$la-var-check-circle: "\f17c";
$la-var-check-circle-o: "\f17d";
$la-var-check-square: "\f17e";
$la-var-check-square-o: "\f17f";
$la-var-chevron-circle-down: "\f180";
$la-var-chevron-circle-left: "\f181";
$la-var-chevron-circle-right: "\f182";
$la-var-chevron-circle-up: "\f183";
$la-var-chevron-down: "\f184";
$la-var-chevron-left: "\f185";
$la-var-chevron-right: "\f186";
$la-var-chevron-up: "\f187";
$la-var-child: "\f188";
$la-var-chrome: "\f189";
$la-var-circle: "\f18a";
$la-var-circle-o: "\f18b";
$la-var-circle-o-notch: "\f18c";
$la-var-circle-thin: "\f18d";
$la-var-clipboard: "\f18e";
$la-var-clock-o: "\f18f";
$la-var-clone: "\f190";
$la-var-close: "\f191";
$la-var-cloud: "\f192";
$la-var-cloud-download: "\f193";
$la-var-cloud-upload: "\f194";
$la-var-cny: "\f195";
$la-var-code: "\f196";
$la-var-code-fork: "\f197";
$la-var-codepen: "\f198";
$la-var-coffee: "\f199";
$la-var-cog: "\f19a";
$la-var-cogs: "\f19b";
$la-var-columns: "\f19c";
$la-var-comment: "\f19d";
$la-var-comment-o: "\f19e";
$la-var-commenting: "\f19f";
$la-var-commenting-o: "\f1a0";
$la-var-comments: "\f1a1";
$la-var-comments-o: "\f1a2";
$la-var-compass: "\f1a3";
$la-var-compress: "\f1a4";
$la-var-connectdevelop: "\f1a5";
$la-var-contao: "\f1a6";
$la-var-copy: "\f1a7";
$la-var-copyright: "\f1a8";
$la-var-creative-commons: "\f1a9";
$la-var-credit-card: "\f1aa";
$la-var-crop: "\f1ab";
$la-var-crosshairs: "\f1ac";
$la-var-css3: "\f1ad";
$la-var-cube: "\f1ae";
$la-var-cubes: "\f1af";
$la-var-cut: "\f1b0";
$la-var-cutlery: "\f1b1";
$la-var-dashboard: "\f1b2";
$la-var-dashcube: "\f1b3";
$la-var-database: "\f1b4";
$la-var-dedent: "\f1b5";
$la-var-delicious: "\f1b6";
$la-var-desktop: "\f1b7";
$la-var-deviantart: "\f1b8";
$la-var-diamond: "\f1b9";
$la-var-digg: "\f1ba";
$la-var-dollar: "\f1bb";
$la-var-dot-circle-o: "\f1bc";
$la-var-download: "\f1bd";
$la-var-dribbble: "\f1be";
$la-var-dropbox: "\f1bf";
$la-var-drupal: "\f1c0";
$la-var-edit: "\f1c1";
$la-var-eject: "\f1c2";
$la-var-ellipsis-h: "\f1c3";
$la-var-ellipsis-v: "\f1c4";
$la-var-empire: "\f1c5"; $la-var-ge: "\f1c5";
$la-var-envelope: "\f1c6";
$la-var-envelope-o: "\f1c7";
$la-var-envelope-square: "\f1c8";
$la-var-eraser: "\f1c9";
$la-var-eur: "\f1ca";
$la-var-euro: "\f1cb";
$la-var-exchange: "\f1cc";
$la-var-exclamation: "\f1cd";
$la-var-exclamation-circle: "\f1ce";
$la-var-exclamation-triangle: "\f1cf";
$la-var-expand: "\f1d0";
$la-var-expeditedssl: "\f1d1";
$la-var-external-link: "\f1d2";
$la-var-external-link-square: "\f1d3";
$la-var-eye: "\f1d4";
$la-var-eye-slash: "\f1d5";
$la-var-eyedropper: "\f1d6";
$la-var-facebook: "\f1d7"; $la-var-facebook-f: "\f1d7";
$la-var-facebook-official: "\f1d8";
$la-var-facebook-square: "\f1d9";
$la-var-fast-backward: "\f1da";
$la-var-fast-forward: "\f1db";
$la-var-fax: "\f1dc";
$la-var-female: "\f1dd";
$la-var-fighter-jet: "\f1de";
$la-var-file: "\f1df";
$la-var-file-archive-o: "\f1e0";
$la-var-file-audio-o: "\f1e1";
$la-var-file-code-o: "\f1e2";
$la-var-file-excel-o: "\f1e3";
$la-var-file-image-o: "\f1e4";
$la-var-file-movie-o: "\f1e5";
$la-var-file-o: "\f1e6";
$la-var-file-pdf-o: "\f1e7";
$la-var-file-photo-o: "\f1e8";
$la-var-file-picture-o: "\f1e9";
$la-var-file-powerpoint-o: "\f1ea";
$la-var-file-sound-o: "\f1eb";
$la-var-file-text: "\f1ec";
$la-var-file-text-o: "\f1ed";
$la-var-file-video-o: "\f1ee";
$la-var-file-word-o: "\f1ef";
$la-var-file-zip-o: "\f1f0";
$la-var-files-o: "\f1f1";
$la-var-film: "\f1f2";
$la-var-filter: "\f1f3";
$la-var-fire: "\f1f4";
$la-var-fire-extinguisher: "\f1f5";
$la-var-firefox: "\f1f6";
$la-var-flag: "\f1f7";
$la-var-flag-checkered: "\f1f8";
$la-var-flag-o: "\f1f9";
$la-var-flash: "\f1fa";
$la-var-flask: "\f1fb";
$la-var-flickr: "\f1fc";
$la-var-floppy-o: "\f1fd";
$la-var-folder: "\f1fe";
$la-var-folder-o: "\f1ff";
$la-var-folder-open: "\f200";
$la-var-folder-open-o: "\f201";
$la-var-font: "\f202";
$la-var-fonticons: "\f203";
$la-var-forumbee: "\f204";
$la-var-forward: "\f205";
$la-var-foursquare: "\f206";
$la-var-frown-o: "\f207";
$la-var-futbol-o: "\f208"; $la-var-soccer-ball-o: "\f208";
$la-var-gamepad: "\f209";
$la-var-gavel: "\f20a";
$la-var-gbp: "\f20b";
$la-var-gear: "\f20c";
$la-var-gears: "\f20d";
$la-var-genderless: "\f20e";
$la-var-get-pocket: "\f20f";
$la-var-gg: "\f210";
$la-var-gg-circle: "\f211";
$la-var-gift: "\f212";
$la-var-git: "\f213";
$la-var-git-square: "\f214";
$la-var-github: "\f215";
$la-var-github-alt: "\f216";
$la-var-github-square: "\f217";
$la-var-glass: "\f218";
$la-var-globe: "\f219";
$la-var-google: "\f21a";
$la-var-google-plus: "\f21b";
$la-var-google-plus-square: "\f21c";
$la-var-google-wallet: "\f21d";
$la-var-graduation-cap: "\f21e";
$la-var-gratipay: "\f21f"; $la-var-gittip: "\f21f";
$la-var-group: "\f220";
$la-var-h-square: "\f221";
$la-var-hacker-news: "\f222";
$la-var-hand-grab-o: "\f223";
$la-var-hand-lizard-o: "\f224";
$la-var-hand-o-down: "\f225";
$la-var-hand-o-left: "\f226";
$la-var-hand-o-right: "\f227";
$la-var-hand-o-up: "\f228";
$la-var-hand-paper-o: "\f229";
$la-var-hand-peace-o: "\f22a";
$la-var-hand-pointer-o: "\f22b";
$la-var-hand-rock-o: "\f22c";
$la-var-hand-scissors-o: "\f22d";
$la-var-hand-spock-o: "\f22e";
$la-var-hand-stop-o: "\f22f";
$la-var-hdd-o: "\f230";
$la-var-header: "\f231";
$la-var-headphones: "\f232";
$la-var-heart: "\f233";
$la-var-heart-o: "\f234";
$la-var-heartbeat: "\f235";
$la-var-history: "\f236";
$la-var-home: "\f237";
$la-var-hospital-o: "\f238";
$la-var-hotel: "\f239";
$la-var-hourglass: "\f23a";
$la-var-hourglass-1: "\f23b";
$la-var-hourglass-2: "\f23c";
$la-var-hourglass-3: "\f23d";
$la-var-hourglass-end: "\f23e";
$la-var-hourglass-half: "\f23f";
$la-var-hourglass-o: "\f240";
$la-var-hourglass-start: "\f241";
$la-var-houzz: "\f242";
$la-var-html5: "\f243";
$la-var-i-cursor: "\f244";
$la-var-ils: "\f245";
$la-var-image: "\f246";
$la-var-inbox: "\f247";
$la-var-indent: "\f248";
$la-var-industry: "\f249";
$la-var-info: "\f24a";
$la-var-info-circle: "\f24b";
$la-var-inr: "\f24c";
$la-var-instagram: "\f24d";
$la-var-institution: "\f24e";
$la-var-internet-explorer: "\f24f";
$la-var-ioxhost: "\f250";
$la-var-italic: "\f251";
$la-var-joomla: "\f252";
$la-var-jpy: "\f253";
$la-var-jsfiddle: "\f254";
$la-var-key: "\f255";
$la-var-keyboard-o: "\f256";
$la-var-krw: "\f257";
$la-var-language: "\f258";
$la-var-laptop: "\f259";
$la-var-lastfm: "\f25a";
$la-var-lastfm-square: "\f25b";
$la-var-leaf: "\f25c";
$la-var-leanpub: "\f25d";
$la-var-legal: "\f25e";
$la-var-lemon-o: "\f25f";
$la-var-level-down: "\f260";
$la-var-level-up: "\f261";
$la-var-life-bouy: "\f262";
$la-var-life-buoy: "\f263";
$la-var-life-ring: "\f264"; $la-var-support: "\f264";
$la-var-life-saver: "\f265";
$la-var-lightbulb-o: "\f266";
$la-var-line-chart: "\f267";
$la-var-link: "\f268";
$la-var-linkedin: "\f269";
$la-var-linkedin-square: "\f26a";
$la-var-linux: "\f26b";
$la-var-list: "\f26c";
$la-var-list-alt: "\f26d";
$la-var-list-ol: "\f26e";
$la-var-list-ul: "\f26f";
$la-var-location-arrow: "\f270";
$la-var-lock: "\f271";
$la-var-long-arrow-down: "\f272";
$la-var-long-arrow-left: "\f273";
$la-var-long-arrow-right: "\f274";
$la-var-long-arrow-up: "\f275";
$la-var-magic: "\f276";
$la-var-magnet: "\f277";
$la-var-mail-forward: "\f278";
$la-var-mail-reply: "\f279";
$la-var-mail-reply-all: "\f27a";
$la-var-male: "\f27b";
$la-var-map: "\f27c";
$la-var-map-marker: "\f27d";
$la-var-map-o: "\f27e";
$la-var-map-pin: "\f27f";
$la-var-map-signs: "\f280";
$la-var-mars: "\f281";
$la-var-mars-double: "\f282";
$la-var-mars-stroke: "\f283";
$la-var-mars-stroke-h: "\f284";
$la-var-mars-stroke-v: "\f285";
$la-var-maxcdn: "\f286";
$la-var-meanpath: "\f287";
$la-var-medium: "\f288";
$la-var-medkit: "\f289";
$la-var-meh-o: "\f28a";
$la-var-mercury: "\f28b";
$la-var-microphone: "\f28c";
$la-var-microphone-slash: "\f28d";
$la-var-minus: "\f28e";
$la-var-minus-circle: "\f28f";
$la-var-minus-square: "\f290";
$la-var-minus-square-o: "\f291";
$la-var-mobile: "\f292";
$la-var-mobile-phone: "\f293";
$la-var-money: "\f294";
$la-var-moon-o: "\f295";
$la-var-mortar-board: "\f296";
$la-var-motorcycle: "\f297";
$la-var-mouse-pointer: "\f298";
$la-var-music: "\f299";
$la-var-navicon: "\f29a";
$la-var-neuter: "\f29b";
$la-var-newspaper-o: "\f29c";
$la-var-object-group: "\f29d";
$la-var-object-ungroup: "\f29e";
$la-var-odnoklassniki: "\f29f";
$la-var-odnoklassniki-square: "\f2a0";
$la-var-opencart: "\f2a1";
$la-var-openid: "\f2a2";
$la-var-opera: "\f2a3";
$la-var-optin-monster: "\f2a4";
$la-var-outdent: "\f2a5";
$la-var-pagelines: "\f2a6";
$la-var-paint-brush: "\f2a7";
$la-var-paper-plane: "\f2a8"; $la-var-send: "\f2a8";
$la-var-paper-plane-o: "\f2a9"; $la-var-send-o: "\f2a9";
$la-var-paperclip: "\f2aa";
$la-var-paragraph: "\f2ab";
$la-var-paste: "\f2ac";
$la-var-pause: "\f2ad";
$la-var-paw: "\f2ae";
$la-var-paypal: "\f2af";
$la-var-pencil: "\f2b0";
$la-var-pencil-square: "\f2b1";
$la-var-pencil-square-o: "\f2b2";
$la-var-phone: "\f2b3";
$la-var-phone-square: "\f2b4";
$la-var-photo: "\f2b5";
$la-var-picture-o: "\f2b6";
$la-var-pie-chart: "\f2b7";
$la-var-pied-piper: "\f2b8";
$la-var-pied-piper-alt: "\f2b9";
$la-var-pinterest: "\f2ba";
$la-var-pinterest-p: "\f2bb";
$la-var-pinterest-square: "\f2bc";
$la-var-plane: "\f2bd";
$la-var-play: "\f2be";
$la-var-play-circle: "\f2bf";
$la-var-play-circle-o: "\f2c0";
$la-var-plug: "\f2c1";
$la-var-plus: "\f2c2";
$la-var-plus-circle: "\f2c3";
$la-var-plus-square: "\f2c4";
$la-var-plus-square-o: "\f2c5";
$la-var-power-off: "\f2c6";
$la-var-print: "\f2c7";
$la-var-puzzle-piece: "\f2c8";
$la-var-qq: "\f2c9";
$la-var-qrcode: "\f2ca";
$la-var-question: "\f2cb";
$la-var-question-circle: "\f2cc";
$la-var-quote-left: "\f2cd";
$la-var-quote-right: "\f2ce";
$la-var-ra: "\f2cf";
$la-var-random: "\f2d0";
$la-var-rebel: "\f2d1";
$la-var-recycle: "\f2d2";
$la-var-reddit: "\f2d3";
$la-var-reddit-square: "\f2d4";
$la-var-refresh: "\f2d5";
$la-var-registered: "\f2d6";
$la-var-renren: "\f2d7";
$la-var-reorder: "\f2d8";
$la-var-repeat: "\f2d9";
$la-var-reply: "\f2da";
$la-var-reply-all: "\f2db";
$la-var-retweet: "\f2dc";
$la-var-rmb: "\f2dd";
$la-var-road: "\f2de";
$la-var-rocket: "\f2df";
$la-var-rotate-left: "\f2e0";
$la-var-rotate-right: "\f2e1";
$la-var-rouble: "\f2e2";
$la-var-rss: "\f2e3"; $la-var-feed: "\f2e3";
$la-var-rss-square: "\f2e4";
$la-var-rub: "\f2e5";
$la-var-ruble: "\f2e6";
$la-var-rupee: "\f2e7";
$la-var-safari: "\f2e8";
$la-var-save: "\f2e9";
$la-var-scissors: "\f2ea";
$la-var-search: "\f2eb";
$la-var-search-minus: "\f2ec";
$la-var-search-plus: "\f2ed";
$la-var-sellsy: "\f2ee";
$la-var-server: "\f2ef";
$la-var-share: "\f2f0";
$la-var-share-alt: "\f2f1";
$la-var-share-alt-square: "\f2f2";
$la-var-share-square: "\f2f3";
$la-var-share-square-o: "\f2f4";
$la-var-shekel: "\f2f5";
$la-var-sheqel: "\f2f6";
$la-var-shield: "\f2f7";
$la-var-ship: "\f2f8";
$la-var-shirtsinbulk: "\f2f9";
$la-var-shopping-cart: "\f2fa";
$la-var-sign-in: "\f2fb";
$la-var-sign-out: "\f2fc";
$la-var-signal: "\f2fd";
$la-var-simplybuilt: "\f2fe";
$la-var-sitemap: "\f2ff";
$la-var-skyatlas: "\f300";
$la-var-skype: "\f301";
$la-var-slack: "\f302";
$la-var-sliders: "\f303";
$la-var-slideshare: "\f304";
$la-var-smile-o: "\f305";
$la-var-sort: "\f306"; $la-var-unsorted: "\f306";
$la-var-sort-alpha-asc: "\f307";
$la-var-sort-alpha-desc: "\f308";
$la-var-sort-amount-asc: "\f309";
$la-var-sort-amount-desc: "\f30a";
$la-var-sort-asc: "\f30b"; $la-var-sort-up: "\f30b";
$la-var-sort-desc: "\f30c"; $la-var-sort-down: "\f30c";
$la-var-sort-numeric-asc: "\f30d";
$la-var-sort-numeric-desc: "\f30e";
$la-var-soundcloud: "\f30f";
$la-var-space-shuttle: "\f310";
$la-var-spinner: "\f311";
$la-var-spoon: "\f312";
$la-var-spotify: "\f313";
$la-var-square: "\f314";
$la-var-square-o: "\f315";
$la-var-stack-exchange: "\f316";
$la-var-stack-overflow: "\f317";
$la-var-star: "\f318";
$la-var-star-half: "\f319";
$la-var-star-half-o: "\f31a"; $la-var-star-half-full: "\f31a"; $la-var-star-half-empty: "\f31a";
$la-var-star-o: "\f31b";
$la-var-steam: "\f31c";
$la-var-steam-square: "\f31d";
$la-var-step-backward: "\f31e";
$la-var-step-forward: "\f31f";
$la-var-stethoscope: "\f320";
$la-var-sticky-note: "\f321";
$la-var-sticky-note-o: "\f322";
$la-var-stop: "\f323";
$la-var-street-view: "\f324";
$la-var-strikethrough: "\f325";
$la-var-stumbleupon: "\f326";
$la-var-stumbleupon-circle: "\f327";
$la-var-subscript: "\f328";
$la-var-subway: "\f329";
$la-var-suitcase: "\f32a";
$la-var-sun-o: "\f32b";
$la-var-superscript: "\f32c";
$la-var-table: "\f32d";
$la-var-tablet: "\f32e";
$la-var-tachometer: "\f32f";
$la-var-tag: "\f330";
$la-var-tags: "\f331";
$la-var-tasks: "\f332";
$la-var-taxi: "\f333";
$la-var-television: "\f334"; $la-var-tv: "\f334";
$la-var-tencent-weibo: "\f335";
$la-var-terminal: "\f336";
$la-var-text-height: "\f337";
$la-var-text-width: "\f338";
$la-var-th: "\f339";
$la-var-th-large: "\f33a";
$la-var-th-list: "\f33b";
$la-var-thumb-tack: "\f33c";
$la-var-thumbs-down: "\f33d";
$la-var-thumbs-o-down: "\f33e";
$la-var-thumbs-o-up: "\f33f";
$la-var-thumbs-up: "\f340";
$la-var-ticket: "\f341";
$la-var-times: "\f342"; $la-var-remove: "\f342";
$la-var-times-circle: "\f343";
$la-var-times-circle-o: "\f344";
$la-var-tint: "\f345";
$la-var-toggle-off: "\f346";
$la-var-toggle-on: "\f347";
$la-var-trademark: "\f348";
$la-var-train: "\f349";
$la-var-transgender: "\f34a"; $la-var-intersex: "\f34a";
$la-var-transgender-alt: "\f34b";
$la-var-trash: "\f34c";
$la-var-trash-o: "\f34d";
$la-var-tree: "\f34e";
$la-var-trello: "\f34f";
$la-var-tripadvisor: "\f350";
$la-var-trophy: "\f351";
$la-var-truck: "\f352";
$la-var-try: "\f353";
$la-var-tty: "\f354";
$la-var-tumblr: "\f355";
$la-var-tumblr-square: "\f356";
$la-var-turkish-lira: "\f357";
$la-var-twitch: "\f358";
$la-var-twitter: "\f359";
$la-var-twitter-square: "\f35a";
$la-var-umbrella: "\f35b";
$la-var-underline: "\f35c";
$la-var-undo: "\f35d";
$la-var-university: "\f35e";
$la-var-unlink: "\f35f";
$la-var-unlock: "\f360";
$la-var-unlock-alt: "\f361";
$la-var-upload: "\f362";
$la-var-usd: "\f363";
$la-var-user: "\f364";
$la-var-user-md: "\f365";
$la-var-user-plus: "\f366";
$la-var-user-secret: "\f367";
$la-var-user-times: "\f368";
$la-var-users: "\f369";
$la-var-venus: "\f36a";
$la-var-venus-double: "\f36b";
$la-var-venus-mars: "\f36c";
$la-var-viacoin: "\f36d";
$la-var-video-camera: "\f36e";
$la-var-vimeo: "\f36f";
$la-var-vimeo-square: "\f370";
$la-var-vine: "\f371";
$la-var-vk: "\f372";
$la-var-volume-down: "\f373";
$la-var-volume-off: "\f374";
$la-var-volume-up: "\f375";
$la-var-warning: "\f376";
$la-var-wechat: "\f377";
$la-var-weibo: "\f378";
$la-var-weixin: "\f379";
$la-var-whatsapp: "\f37a";
$la-var-wheelchair: "\f37b";
$la-var-wifi: "\f37c";
$la-var-wikipedia-w: "\f37d";
$la-var-windows: "\f37e";
$la-var-won: "\f37f";
$la-var-wordpress: "\f380";
$la-var-wrench: "\f381";
$la-var-xing: "\f382";
$la-var-xing-square: "\f383";
$la-var-y-combinator: "\f384";
$la-var-y-combinator-square: "\f385";
$la-var-yahoo: "\f386";
$la-var-yc: "\f387";
$la-var-yc-square: "\f388";
$la-var-yelp: "\f389";
$la-var-yen: "\f38a";
$la-var-youtube: "\f38b";
$la-var-youtube-play: "\f38c";
$la-var-youtube-square: "\f38d";